.header-text {
  font-weight: bold;
  color: #fff;
  font-size: 10rem; }
  @media (max-width: 786px) {
    .header-text {
      font-size: 4rem; } }

.main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 800px; }
  @media (max-width: 786px) {
    .main-header {
      height: 400px; } }

.top20 {
  top: 20%; }


