/* Rectangle 13: */
$material-border-color: #E4E7EC;
$material-active-color: #47AAFF;
.material-form {
  /* -- Input styles ---------------------------------- */
  .form-group {
    position: relative;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .input-group {
    position: relative;
  }
  .form-control {
    display: block;
    width: 100%;
    border: none;
    border-radius: 0 !important;

    font-size: 16px;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid $material-border-color;
  }
  input.form-control {
    height: 36px;
  }
  .input-group .form-control {
    position: relative;
    z-index: inherit;
    float: inherit;
    width: 100%;
    margin-bottom: 0;
  }
  .form-control:focus {
    border-color: $material-border-color;
    outline: none;
    box-shadow: none;
  }

  /* -- label styles ---------------------------------- */
  label {
    position: absolute;
    top: -18px;
    color: #999;
    font-size: 12px;
    font-weight: 300;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .form-horizontal .control-label {
    position: relative;
    top: 0;
    margin-bottom: 0;
  }

  .float-label {
    left: 0;
    top: 7px;
    font-size: 16px;
    pointer-events: none;
  }

  /* active state */
  .form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
    top: -18px;
    font-size: 12px;
  }

  .float-label ~ .form-control:focus, .float-label ~ .form-control:valid {
    top: -18px;
    font-size: 12px;
  }


  /* input colors ---- */
  // default
  .form-control:focus {
    ~ label {
      color: $material-active-color;
    }

    ~ .form-bar:before, ~ .form-bar:after {
      background: $material-active-color;
    }
  }



  /* -- highlighter styles ------------------------------ */
  .form-highlight {
    position: absolute;
    height: 60%;
    width: 60px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.4;
  }

  /* active state */
  .form-control:focus ~ .form-highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  /* -- highlighter animation --------------------------- */
  @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to { width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to { width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#5264AE; }
    to { width:0; background:transparent; }
  }

  /* -- bar styles -------------------------------------- */
  .form-bar {
    position: relative;
    display: block;
    width: 100%;
  }
  .form-bar:before, .form-bar:after 	{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
  }
  .form-bar:before {
    left: 50%;
  }
  .form-bar:after {
    right: 50%;
  }

  /* active state */
  .form-control:focus ~ .form-bar:before, .form-control:focus ~ .form-bar:after {
    width: 50%;
  }

  @media (min-width: 768px) {
    .form-horizontal .control-label {
      font-size: 16px;
    }
  }
}