/! Required meta tags
meta charset="utf-8"
meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
title Rainbow UI Kit bootstrap 4 theme by EpicPxls
meta name="description" content="Bootstrap 4 theme using Rainbow UI Kit built for developers in a hurry."
meta name="keywords" content="rainbow, ui kit, bootstrap 4, developers, theme"
meta property="og:title" content="Rainbow UI Kit bootstrap 4 theme by EpicPxls"
meta property="og:description" content="Bootstrap 4 theme using Rainbow UI Kit built for developers in a hurry."
meta property="og:url" content="https://rainbow.epicpxls.com/"
link rel="canonical" href="https://rainbow.epicpxls.com/"

link href="images/main/favicon.png" rel="icon" sizes="16x16" type="image/png"
/! Bootstrap CSS
link href="css/rainbow-ui-kit.css" rel="stylesheet"
link href="css/rainbow-ui-documentation.css" rel="stylesheet"
link href="https://file.myfontastic.com/daWMqxmxCnjqwqBcVKWLTE/icons.css" rel="stylesheet"
/<!-- Global Site Tag (gtag.js) - Google Analytics -->
script src="https://www.googletagmanager.com/gtag/js?id=UA-329622-27" async="true"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-329622-27');
