.fw-thin {
  font-weight: 100;
}

.fw-extralight, .fw-ultralight {
  font-weight: 200;
}

.fw-light {
  font-weight: 300;
}

.fw-normal, .fw-regular, .fw-book {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold, .fw-demibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold, .fw-ultrabold {
  font-weight: 800;
}

.fw-black, .fw-heavy {
  font-weight: 900;
}